.card {
    min-width: 500px;
    max-width: 500px;
    min-height: 200px;
    max-height: auto;
}

.root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.quoteText {
    font-size: 30px;
    text-align: center;
}

.quoteAuthor {
    text-align: right;
}

.icon {
    padding: 5px;
}